@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Azeret Mono", monospace;
}
/* header style start here */
/* nav style */
nav{
    display: flex;
    justify-content: space-between;
}
h3{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono";
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    margin: 35px 0 25px 140px;
}
.nav-btn{
    width: 228px;
    height: 58px;
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono";
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    margin: 35px 160px 25px 0;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    border: none;
}
.header-container{
    max-width: 1350px;
    height: 631px;
    margin: 0 auto;
    background-image: url('./assets/Hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* header content image style */
.header-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 26px 200px 40px 200px;
}
.header-image{
    width: 230.03px;
    height: 228.9px;
}
.header-image img{
    width: 100%;
    height: 100%;
}
/* header texts style */
.header-title{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 30px;
    font-weight: 800;
    line-height: 68px;
    text-align: center;
}
.header-text{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 10px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin: 24px 70px 0 70px;
    margin-bottom: 32px;
}
/* header btn style */
.header-btn{
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
}
.btn{
    width: 208px;
    height: 66px;
    margin: 0 400px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
}
/* header container end here */

/* web development container start here */
.web-devo-container{
    width: 1140px;
    height: 1393px;
    margin: 0 auto;
    margin-top: 74px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}
.web-devo-content{
    width: 946px;
    height: 1233px;
    margin: 0 auto;
    margin-top: 80px;
}
.code-text-image{
    width: 946px;
    height: 336px;
    margin: 0 auto;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
/* web devo titles style */
.web-devo-titles{
    text-align: center;
    margin: 0 100px 0 100px;
}
.web-devo-title{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
}
.web-devo-text{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 10px;
    font-weight: 400;
    line-height: 26px;
}
/* web devo coding style */
.web-devo-coding{
    width: 850px;
    height: 240px;
    margin: 48px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* coding texts style */
.coding-texts{
    width: 477px;
    height: 140px;
}
.coding-title{
    color: rgba(13, 19, 33, 0.7);
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
}
.coding-text{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 10px;
    font-weight: 400;
    line-height: 26px;
}
.learn-more{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 12px;
    font-weight: 600;
    line-height: 23px;
    padding: 5px 15px 5px 15px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;

}
/* coding image style */
.coding-image{
    width: 259.56px;
    height: 217.01px;
}
.coding-image img{
    width: 100%;
    height: 100%;
}
/* code text image end here */

/* code-text-image-two start here */
.code-text-image-two{
    width: 946px;
    height: 336px;
    margin: 0 auto;
    margin-top: 32px;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
/* coding image style */
.coding-image-two{
    width: 850px;
    height: 240px;
    margin: 48px auto;
    display: flex;
    flex-direction: row;
    gap: 48px;
}
/* coding-image-too style */
.coding-image-too{
    width: 223.2px;
    height: 208.85px;
}
/* coding-texts-two style */
.coding-texts-two{
    width: 477px;
    height: 219px;
}
.coding-title-two{
    color: rgba(13, 19, 33, 0.7);
    font-family: "Azeret Mono", monospace;
    font-size: 20px; 
    font-weight: 700;
    line-height: 36px;
}
.coding-text-two{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 10px;
    font-weight: 400;
    line-height: 26px;
}
/* code-text-image-two end here */

/* code-text-image-three start here */
.code-text-image-three{
    width: 946px;
    height: 336px;
    margin: 0 auto;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    margin-top: 32px;
}
/* image three content style */
.image-three-content{
    width: 850px;
    height: 240px;
    margin: 48px auto;
    display: flex;
    flex-direction: row;
    gap: 150px;
}
/* image-three-titles style */

.image-three-title {
    color: rgba(13, 19, 33, 0.7);
    font-family: "Azeret Mono", monospace;
    font-size: 20px; 
    font-weight: 700;
    line-height: 36px;
}
.image-three-text{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 10px;
    font-weight: 400;
    line-height: 26px;
}
.image-three-titles{
    width: 477px;
    height: 220px;
    margin: 10px 0;
}
/* image three img style */
.image-three-img{
    width: 206.4px;
    height: 187.32px;
    margin: 26px 16px 16px 0 ;
}
.image-three-img img{
    width: 100%;
    height: 100%;
}
/* web development container end here */

/* My Inspiration section start here */

/* My Inspiration titles test here */
.my-inspiration-container{
    width: 1140px;
    height: 775px;
    margin: 90px auto;
}
.my-inspiration-content{
    width: 852px;
    height: 113px;
    margin: 0 auto;
    text-align: center;
}
/* titles style share */
.my-inspiration-title{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono";
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    margin-bottom: 24px;
}
.my-inspiration-text{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono";
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;    
}
/* My Inspiration titles end here */

/* My Inspiration image start here */
.my-inspiration-video{
    width: 1076px;
    height: 550px;
    margin: 50px 30px 30px 30px;
}
.my-inspiration-video iframe{
    width: 100%;
    height: 100%;
}
/*  My Inspiration section end here */

/* My Current Target section start here */
.my-current-target-container{
    width: 1140px;
    height: 460px;
    margin: 0 auto;
}
/* share titles */
.title{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono";
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
    margin-bottom: 24px;
}
.text{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono";
    font-size: 10px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin: 0 244px 0 244px;
}
/* my current target content section */
.my-current-target-content{
    width: 1140px;
    height: 299px;
    margin: 0 auto;
    margin-top: 47px;
    display: flex;
    flex-direction: row;
    gap: 24px;
}
/* content 1,2,3 style */
.content-one{
    width: 364px;
    height: 299px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}
.content-two{
    width: 364px;
    height: 299px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}
.content-three{
    width: 364px;
    height: 299px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}
.html{
    width: 284px;
    height: 219px;
    margin: 40px;
}
.html img{
    width: 39.68px;
    height: 56px;
}
.html-text{
    width: 284px;
    height: 96px;
    margin-top: 24px;
}
.css{
    width: 284px;
    height: 219px;
    margin: 40px;
}
.css img{
    width: 56px;
    height: 56px;
    margin-bottom: 24px;
}
.javascript{
    width: 284px;
    height: 219px;
    margin: 40px;
}
.javascript img{
    width: 56px;
    height: 56px;
    margin-bottom: 24px;
}
/* image titles style */
.image-title{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono";
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
}
.image-text{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono";
    font-size: 10px;
    font-weight: 400;
    line-height: 26px;
}
.image-btn{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono";
    font-size: 12px;
    font-weight: 700;
    line-height: 19px;
    border: none;
    text-decoration: underline;
}
/*  My Current Target section end here */

/* my-next-target-container start here */
.my-next-target-container{
    width: 1140px;
    height: 866px;
    margin: 0 auto;
    margin-top: 100px;
}
/* my-next-target-content start here */
.my-next-target-content-one{
    width: 1140px;
    height: 219px;
    margin-top: 45px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
.my-next-target-content-two{
    width: 1140px;
    height: 219px;
    margin-top: 24px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
.my-next-target-content-three{
    width: 1140px;
    height: 219px;
    margin-top: 24px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
/* my next target content image style */
.reactJS{
    width: 1060px;
    height: 139px;
    margin: 40px;
    display: flex;
    gap: 24px;
}
.reactJS-image{
    width: 94.78px;
    height: 95px;
    margin: 15px 0;
}
.reactJS-image img{
    width: 100%;
    height: 100%;
}
.reactJS-title{
    width: 850.22px;
    height: 96px;
    margin-top: 10px;
}
.nodeJs{
    width: 1060px;
    height: 139px;
    margin: 40px;
    display: flex;
    gap: 24px;
}
.nodeJs-image{
    width: 143.3px;
    height: 87.75px;
    margin: 25px 0;
}
.nodeJs-image img{
    width: 100%;
    height: 100%;
}
.nodeJs-title{
    width: 850.22px;
    height: 96px;
    margin-top: 10px;
}
.mongoDB{
    width: 1060px;
    height: 139px;
    margin: 40px;
    display: flex;
    gap: 24px;
}
.mongoDB-image{
    width: 108px;
    height: 108px;
    margin: 15px 0;
}
.mongoDB-image img{
    width: 100%;
    height: 100%;
}
.mongoDB-title{
    width: 850.22px;
    height: 96px;
    margin-top: 10px;
}
/* my-next-target-container end here */

/* I Need Support section start here */
/* support container */
.support-container{
    width: 1140px;
    height: 313px;
    margin: 0 auto;
    margin-top: 40px;
    background-image: url('./assets/handshake.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),url(Email);
}
.support-content{
    width: 1044px;
    height: 185px;
    padding-top: 50px;
    margin: 60px 45px;
}
/* support title style */
.support-title{
    color: rgb(255, 255, 255);
    font-family: "Azeret Mono";
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    margin-bottom: 16px;
}
.support-text{
    color: rgb(255, 255, 255);
    font-family: "Azeret Mono";
    font-size: 10px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    text-align: center;
}
/* input style here */
.support-submit{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}
.input{
    width: 548px;
    height: 57px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 19px 20px 19px 20px;
    font-family: "Azeret Mono";
    font-size: 10px;
    margin-top: 15px;
}
.support-btn{
    width: 120px;
    height: 57px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    font-size: 16px;
    font-family: "Azeret Mono";
    margin-top: 15px;
    border: none;
}
/* I Need Support section end here */

/* footer section start here */
.footer-container{
    max-width: 1350px;
    height: 100px;
    margin-top: 80px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
}
.footer-content{
    width: 1100px;
    height: 36px;
    padding-top: 25px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}
.text-left{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono";
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    margin: 5px 0;
}
.footer-image{
    width: 36px;
    height: 36px;
}
.footer-image img{
    width: 100%;
    height: 100%;
}
/* footer section end here */