@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Azeret Mono", monospace;
}
/* header style start here */
.header-container{
    max-width: 1350px;
    height: 631px;
    margin: 0 auto;
    background-image: url('./assets/Hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* header content image style */
.header-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 26px 200px 40px 200px;
}
.header-image{
    width: 230.03px;
    height: 228.9px;
}
.header-image img{
    width: 100%;
    height: 100%;
}
/* header texts style */
.header-title{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 30px;
    font-weight: 800;
    line-height: 68px;
    text-align: center;
}
.header-text{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 10px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin: 24px 70px 0 70px;
    margin-bottom: 32px;
}
/* header btn style */
.header-btn{
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
}
.btn{
    width: 208px;
    height: 66px;
    margin: 0 400px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
}
/* header container end here */

/* web development container start here */
.web-devo-container{
    width: 1140px;
    height: 1393px;
    margin: 0 auto;
    margin-top: 74px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}
.web-devo-content{
    width: 946px;
    height: 1233px;
    margin: 0 auto;
    margin-top: 80px;
}
.code-text-image{
    width: 946px;
    height: 336px;
    margin: 0 auto;
}
/* web devo titles style */
.web-devo-titles{
    text-align: center;
    margin: 0 100px 0 100px;
}
.web-devo-title{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
}
.web-devo-text{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 10px;
    font-weight: 400;
    line-height: 26px;
}
/* web devo coding style */
.web-devo-coding{
    width: 850px;
    height: 240px;
    margin: 48px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* coding texts style */
.coding-texts{
    width: 477px;
    height: 140px;
}
.coding-title{
    color: rgba(13, 19, 33, 0.7);
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
}
.coding-text{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 10px;
    font-weight: 400;
    line-height: 26px;
}
.learn-more{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 12px;
    font-weight: 600;
    line-height: 23px;
    padding: 5px 15px 5px 15px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;

}
/* coding image style */
.coding-image{
    width: 259.56px;
    height: 217.01px;
}
.coding-image img{
    width: 100%;
    height: 100%;
}
/* code text image end here */

/* code-text-image-two start here */
.code-text-image-two{
    width: 946px;
    height: 336px;
    margin: 0 auto;
    margin-top: 32px;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
/* coding image style */
.coding-image-two{
    width: 850px;
    height: 240px;
    margin: 48px auto;
    display: flex;
    flex-direction: row;
    gap: 48px;
}
/* coding-image-too style */
.coding-image-too{
    width: 223.2px;
    height: 208.85px;
}
/* coding-texts-two style */
.coding-texts-two{
    width: 477px;
    height: 219px;
}
.coding-title-two{
    color: rgba(13, 19, 33, 0.7);
    font-family: "Azeret Mono", monospace;
    font-size: 20px; 
    font-weight: 700;
    line-height: 36px;
}
.coding-text-two{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 10px;
    font-weight: 400;
    line-height: 26px;
}
/* code-text-image-two end here */

/* code-text-image-three start here */
.code-text-image-three{
    width: 946px;
    height: 336px;
    margin: 0 auto;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    margin-top: 32px;
}
/* image three content style */
.image-three-content{
    width: 850px;
    height: 240px;
    margin: 48px auto;
    display: flex;
    flex-direction: row;
    gap: 150px;
}
/* image-three-titles style */

.image-three-title {
    color: rgba(13, 19, 33, 0.7);
    font-family: "Azeret Mono", monospace;
    font-size: 20px; 
    font-weight: 700;
    line-height: 36px;
}
.image-three-text{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 10px;
    font-weight: 400;
    line-height: 26px;
}
.image-three-titles{
    width: 477px;
    height: 220px;
    margin: 10px 0;
}
/* image three img style */
.image-three-img{
    width: 206.4px;
    height: 187.32px;
    margin: 26px 16px 16px 0 ;
}
.image-three-img img{
    width: 100%;
    height: 100%;
}
/* web development container end here */

/* My Inspiration section start here */

/* My Inspiration titles test here */
.my-inspiration-container{
    width: 1140px;
    height: 775px;
    margin: 90px auto;
}
.my-inspiration-content{
    width: 852px;
    height: 113px;
    margin: 0 auto;
    text-align: center;
}
/* titles style share */
.my-inspiration-title{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono";
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    margin-bottom: 24px;
}
.my-inspiration-text{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono";
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;    
}
/* My Inspiration titles end here */

/* My Inspiration image start here */
.my-inspiration-video{
    width: 1076px;
    height: 550px;
    margin: 50px 30px 30px 30px;
}
.my-inspiration-video iframe{
    width: 100%;
    height: 100%;
}
/*  My Inspiration section end here */

